.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #C3FF93;
}

h1 {
  margin: 30px;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #F5004F;
}

p {
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
  text-align: center;
  padding-top: 50px;
}
button{
  height: 60px;
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
  border: 0.5px solid black;
  background-color: #D5ED9F;
}
